__pycache__/
*.pyc
logs/
storage/*.duckdb
.env
.venv/

# ==========================================
# Apache Airflow
# ==========================================

airflow/airflow.db
airflow/airflow.db-*

airflow/logs/

airflow/*.pid
airflow/*.err
airflow/standalone_admin_password.txt

airflow/airflow.cfg
airflow/webserver_config.py

#-----------DBT---------------

target/
dbt_packages/
logs/
musicflow_dbt/target/



